<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{
            margin: 0 auto;
            padding: 0;
        }
        a{
            text-decoration: none;
            color: black;
            font-size: 30px;
        }
        tr{
            width: 100%;
            height: 20%;
            text-align: center;
        }

    </style>
</head>
<body>
    <table bgcolor="yellow" width="600px" height="600px" border="1px">
        <tr><td><a href="http://127.0.0.1:5000/get_word">学校名称的词云图</a></td></tr>
        <tr><td><a href="http://127.0.0.1:5000/get_pie">学校占比情况</a></td></tr>
        <tr><td><a href="http://127.0.0.1:5000/get_bar">指标得分的情况</a></td></tr>
        <tr><td><a href="http://127.0.0.1:5000/get_line">总分的最大值，总分的最小值</a></td></tr>
    </table>
</body>
</html>