 
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>福布斯富豪榜-2023世界首富排行榜-福布斯全球富豪榜(实时)-排行榜123网</title>
<meta name="keywords" content="福布斯富豪榜,世界首富,2023世界首富排行榜,福布斯全球富豪榜,福布斯实时富豪榜" />
<meta name="description" content="排行榜123网富豪频道为您提供2023年福布斯富豪榜，囊括全球各个国家富豪排名，实时了解各国首富都是谁，走进2023世界首富排行榜的财富世界。" />
<link href="https://www.phb123.com/css/common.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="https://www.phb123.com/style/special.css">
<script type="text/javascript" src="https://www.phb123.com/js/jquery.js"></script>
<script type="text/javascript" src="/js/phbgg2.js"></script>
</head>
<body>
<script type="text/javascript">
//判断是否是手机版访问,跳转到手机版
var isiPad = navigator.userAgent.match(/iPad|iPhone|Android|Linux|iPod/i) != null;
if(isiPad){	
	if(window.location.href.indexOf("sports.phb123.com") > 0 ){
		var wapurl = window.location.href.replace(/sports\.phb123\.com/ig,"web.phb123.com/ty");
	}else{
		var wapurl = window.location.href.replace(/www\.phb123\.com/ig,"web.phb123.com");
	}
	window.location.href = wapurl;
}
</script>
<div class="top">
    <div class="wrap clearfix">
        <div class="fl welcome">排行榜123网，关注行业排行榜，关注中国行业十大品牌排行！</div>
        <div class="top-meau fr">
            <ul>
                <li><a href="https://www.phb123.com/tag/" target="_blank">TAG标签</a></li>
                <li><a href="https://www.phb123.com/sitemap.html" target="_blank">网站导航</a></li>
                <li>手机访问：<a href="https://web.phb123.com/" target="_blank">web.phb123.com</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="wrap header">
    <a class="logo" href="https://www.phb123.com/" ><img src="https://www.phb123.com/images/logo.gif" width="210" height="74"/></a>
    <div class="search">
       <form id="form1" name="form1" method="post" action="http://so.phb123.com/cse/">
       <input type="text" name="p" id="bdcsMain" class="search-area" value="请输入关键词" onfocus="javascript:this.value=''" autocomplete="off">
       <input class="search-btn" type="submit" value="">
       </form>
    </div>
</div>
<div class="nav mar1">
    <div class="wrap">
       <ul>
          <li><a href="https://www.phb123.com/" class="on">首页</a></li>
	      <li><a href="https://www.phb123.com/shenghuo/" target="_blank">生活</a></li> 
	      <li><a href="https://www.phb123.com/yule/" target="_blank">娱乐</a></li>
	      <li><a href="https://www.phb123.com/lvyou/" target="_blank">旅游</a></li>
	      <li><a href="https://www.phb123.com/city/" target="_blank">城市</a></li>
	      <li><a href="https://www.phb123.com/jiaoyu/" target="_blank">教育</a></li>
	      <li><a href="https://www.phb123.com/keji/" target="_blank">科技</a></li>
	      <li><a href="https://www.phb123.com/hangye/" target="_blank">行业</a></li>
	      <li><a href="https://www.phb123.com/xinwen/" target="_blank">新闻</a></li>
	      <li><a href="https://www.phb123.com/junshi/" target="_blank">军事</a></li>
	      <li><a href="https://www.phb123.com/renwu/" target="_blank">人物</a></li> 
	      <li><a href="https://sports.phb123.com/" target="_blank">体育</a></li> 
	      <li><a href="https://www.phb123.com/youxi/" target="_blank">游戏</a></li> 
	      <li><a href="https://www.phb123.com/shijiezhizui/" target="_blank">世界之最</a></li>
       </ul>
    </div>
</div>
<!--common header end-->
<div class="wrap bread"><a href="https://www.phb123.com/">首页</a> > 世界富豪排行榜2023</div>
<div class="wrap mar1 clearfix">
 
  <div class="sp-l">
  
      <div class="lead">
           <h1>福布斯2023全球富豪榜</h1>
           <p>排行榜123网富豪频道为您提供2023年福布斯富豪榜，榜单包括2023世界首富排行榜，以及全球各个国家富豪排名。</p>
<p>目前埃隆·马斯克以2499亿美元的财富位居世界首富第一名，而中国首富为：钟睒睒（身价：678亿美元）</p>
			<p>全球富豪榜数据来源于《福布斯》，财富资产仅供参考。</p>

           <div class="lead-time">更新时间：2023年03月22日</div>
          <div id="baiduShare" class="bdsharebuttonbox">
             <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
             <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
             <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
         </div>
      </div> 
      <script type="text/javascript">neirong_ad07();</script>
      
      <div class="mar1">
            <div class="t-bar clearfix">
               <h2 class="bt">福布斯实时富豪榜</h2>
            </div>
            <table class="rank-table" width="100%">
                <tbody>
                    <tr>
                        <th width="12%">世界排名</th>
                        <th width="30%">名字</th>
                        <th width="20%">财富(10亿美元)</th>
                        <th width="20%">财富来源</th>
                        <th width="18%">国家/地区</th>
                    </tr>
                    <tr>
                        <td class="xh">1</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_164.html" title="埃隆·马斯克" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/cd3046b5edcdf9744cf785bfebd36856.jpg" alt="埃隆·马斯克" width="70"></span>
                               <p>埃隆·马斯克</p>
                           </a>
                        </td>
                        <td>2499亿美元</td>
                        <td>特斯拉</td>
                        <td><a href="/renwu/fuhao/px_US.html" title="美国" target="_blank">美国</a></td>
                    </tr><tr>
                        <td class="xh">2</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_95.html" title="伯纳德·阿诺特" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/476b06e295a827476a13d7824a44de9c.jpg" alt="伯纳德·阿诺特" width="70"></span>
                               <p>伯纳德·阿诺特</p>
                           </a>
                        </td>
                        <td>1419亿美元</td>
                        <td>LVMH</td>
                        <td><a href="/renwu/fuhao/px_FR.html" title="法国" target="_blank">法国</a></td>
                    </tr><tr>
                        <td class="xh">3</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_87.html" title="杰夫·贝佐斯" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/f33ab2eb8e3f71a18c93ac3db9d74ace.jpg" alt="杰夫·贝佐斯" width="70"></span>
                               <p>杰夫·贝佐斯</p>
                           </a>
                        </td>
                        <td>1383亿美元</td>
                        <td>亚马逊</td>
                        <td><a href="/renwu/fuhao/px_US.html" title="美国" target="_blank">美国</a></td>
                    </tr><tr>
                        <td class="xh">4</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_334.html" title="高塔姆·阿达尼" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/allimg/220406/1-2204062212130-L.jpg" alt="高塔姆·阿达尼" width="70"></span>
                               <p>高塔姆·阿达尼</p>
                           </a>
                        </td>
                        <td>1346亿美元</td>
                        <td>阿达尼集团</td>
                        <td><a href="/renwu/fuhao/px_IN.html" title="印度" target="_blank">印度</a></td>
                    </tr><tr>
                        <td class="xh">5</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_85.html" title="比尔·盖茨" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/3ac9d61e6aa00637ede8585f2ce7bdd9.jpg" alt="比尔·盖茨" width="70"></span>
                               <p>比尔·盖茨</p>
                           </a>
                        </td>
                        <td>1020亿美元</td>
                        <td>微软</td>
                        <td><a href="/renwu/fuhao/px_US.html" title="美国" target="_blank">美国</a></td>
                    </tr><tr>
                        <td class="xh">6</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_86.html" title="沃伦•巴菲特" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/24f7bb537c54a7220892642565d100b3.jpg" alt="沃伦•巴菲特" width="70"></span>
                               <p>沃伦•巴菲特</p>
                           </a>
                        </td>
                        <td>942亿美元</td>
                        <td>伯克希尔－哈撒韦公司</td>
                        <td><a href="/renwu/fuhao/px_US.html" title="美国" target="_blank">美国</a></td>
                    </tr><tr>
                        <td class="xh">7</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_91.html" title="拉里·埃里森" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/0def41f2420b4a316d2d7786e90ceec3.jpg" alt="拉里·埃里森" width="70"></span>
                               <p>拉里·埃里森</p>
                           </a>
                        </td>
                        <td>872亿美元</td>
                        <td>甲骨文软件</td>
                        <td><a href="/renwu/fuhao/px_US.html" title="美国" target="_blank">美国</a></td>
                    </tr><tr>
                        <td class="xh">8</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_96.html" title="拉里·佩奇" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/0c7f4b4696bcf376e4275ccedb72475c.jpg" alt="拉里·佩奇" width="70"></span>
                               <p>拉里·佩奇</p>
                           </a>
                        </td>
                        <td>846亿美元</td>
                        <td>谷歌</td>
                        <td><a href="/renwu/fuhao/px_US.html" title="美国" target="_blank">美国</a></td>
                    </tr><tr>
                        <td class="xh">9</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_117.html" title="穆克什·安巴尼" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/68311858b73379651f01571293e71efc.jpg" alt="穆克什·安巴尼" width="70"></span>
                               <p>穆克什·安巴尼</p>
                           </a>
                        </td>
                        <td>843亿美元</td>
                        <td>印度信诚工业集团</td>
                        <td><a href="/renwu/fuhao/px_IN.html" title="印度" target="_blank">印度</a></td>
                    </tr><tr>
                        <td class="xh">10</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_97.html" title="谢尔盖·布林" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/e39be60b44db1372ce32ac04d8289ec2.jpg" alt="谢尔盖·布林" width="70"></span>
                               <p>谢尔盖·布林</p>
                           </a>
                        </td>
                        <td>812亿美元</td>
                        <td>谷歌</td>
                        <td><a href="/renwu/fuhao/px_US.html" title="美国" target="_blank">美国</a></td>
                    </tr><tr>
                        <td class="xh">11</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_105.html" title="史蒂夫·鲍尔默" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/06af6cd8f5e3f837efe0c154c704ff4d.jpg" alt="史蒂夫·鲍尔默" width="70"></span>
                               <p>史蒂夫·鲍尔默</p>
                           </a>
                        </td>
                        <td>780亿美元</td>
                        <td>微软</td>
                        <td><a href="/renwu/fuhao/px_US.html" title="美国" target="_blank">美国</a></td>
                    </tr><tr>
                        <td class="xh">12</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_94.html" title="迈克尔·布隆伯格" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/58aad4ed8397d64b688039be7f5ab908.jpg" alt="迈克尔·布隆伯格" width="70"></span>
                               <p>迈克尔·布隆伯格</p>
                           </a>
                        </td>
                        <td>769亿美元</td>
                        <td>彭博社</td>
                        <td><a href="/renwu/fuhao/px_US.html" title="美国" target="_blank">美国</a></td>
                    </tr><tr>
                        <td class="xh">13</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_90.html" title="卡洛斯·斯利姆·埃卢" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/1c3378edacfafef699e186c00fb69bf5.jpg" alt="卡洛斯·斯利姆·埃卢" width="70"></span>
                               <p>卡洛斯·斯利姆·埃卢</p>
                           </a>
                        </td>
                        <td>758亿美元</td>
                        <td>America MovilSAB</td>
                        <td><a href="/renwu/fuhao/px_MX.html" title="墨西哥" target="_blank">墨西哥</a></td>
                    </tr><tr>
                        <td class="xh">14</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_2763.html" title="钟睒睒" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/allimg/200923/1-2009232353000-L.jpg" alt="钟睒睒" width="70"></span>
                               <p>钟睒睒</p>
                           </a>
                        </td>
                        <td>678亿美元</td>
                        <td>农夫山泉</td>
                        <td><a href="/renwu/fuhao/px_CN.html" title="中国" target="_blank">中国</a></td>
                    </tr><tr>
                        <td class="xh">15</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_2288.html" title="弗朗索瓦丝·贝当古-梅耶斯" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/3/393502ae75297e651701f3bce700b01a.jpg" alt="弗朗索瓦丝·贝当古-梅耶斯" width="70"></span>
                               <p>弗朗索瓦丝·贝当古-梅耶斯</p>
                           </a>
                        </td>
                        <td>630亿美元</td>
                        <td>欧莱雅</td>
                        <td><a href="/renwu/fuhao/px_FR.html" title="法国" target="_blank">法国</a></td>
                    </tr><tr>
                        <td class="xh">16</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_100.html" title="吉姆·沃尔顿" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/7eeeac92d8871391758afca15d6f251e.jpg" alt="吉姆·沃尔顿" width="70"></span>
                               <p>吉姆·沃尔顿</p>
                           </a>
                        </td>
                        <td>577亿美元</td>
                        <td>沃尔玛</td>
                        <td><a href="/renwu/fuhao/px_US.html" title="美国" target="_blank">美国</a></td>
                    </tr><tr>
                        <td class="xh">17</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_99.html" title="S.罗伯森·沃尔顿" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/5c8598a29e63d8e8493747d6ff0e8f58.jpg" alt="S.罗伯森·沃尔顿" width="70"></span>
                               <p>S.罗伯森·沃尔顿</p>
                           </a>
                        </td>
                        <td>565亿美元</td>
                        <td>沃尔玛</td>
                        <td><a href="/renwu/fuhao/px_US.html" title="美国" target="_blank">美国</a></td>
                    </tr><tr>
                        <td class="xh">18</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_101.html" title="艾丽斯·沃尔顿" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/8f345a0f74193862c7dc407fa72560a7.jpg" alt="艾丽斯·沃尔顿" width="70"></span>
                               <p>艾丽斯·沃尔顿</p>
                           </a>
                        </td>
                        <td>556亿美元</td>
                        <td>沃尔玛</td>
                        <td><a href="/renwu/fuhao/px_US.html" title="美国" target="_blank">美国</a></td>
                    </tr><tr>
                        <td class="xh">19</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_92.html" title="查尔斯·科赫" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/a6cbf0dd4a8284a7fe57e97d4f9993c2.jpg" alt="查尔斯·科赫" width="70"></span>
                               <p>查尔斯·科赫</p>
                           </a>
                        </td>
                        <td>542亿美元</td>
                        <td>美国科氏工业集团</td>
                        <td><a href="/renwu/fuhao/px_US.html" title="美国" target="_blank">美国</a></td>
                    </tr><tr>
                        <td class="xh">19</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_2592.html" title="罗伯森·沃尔顿" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/allimg/200211/1-2002112349460-L.jpg" alt="罗伯森·沃尔顿" width="70"></span>
                               <p>罗伯森·沃尔顿</p>
                           </a>
                        </td>
                        <td>684亿美元</td>
                        <td>沃尔玛</td>
                        <td><a href="/renwu/fuhao/px_US.html" title="美国" target="_blank">美国</a></td>
                    </tr>
                </tbody>
            </table>
            <p class="tb-ms"></p>
            <div class="page mt10">
                 <a>首页</a>
<a class="on">1</a><a href='/renwu/fuhao/shishi_2.html'>2</a>
<a href='/renwu/fuhao/shishi_3.html'>3</a>
<a href='/renwu/fuhao/shishi_4.html'>4</a>
<a href='/renwu/fuhao/shishi_5.html'>5</a>
<a href='/renwu/fuhao/shishi_6.html'>6</a>
<a href='/renwu/fuhao/shishi_7.html'>7</a>
<a href='/renwu/fuhao/shishi_8.html'>8</a>
<a href='/renwu/fuhao/shishi_9.html'>9</a>
<a href='/renwu/fuhao/shishi_2.html'>下一页</a>
<a href='/renwu/fuhao/shishi_15.html'>末页</a>

            </div>
            <script type="text/javascript">neirong_ad07();</script>
      </div>
      
  </div>
  
  <div class="sp-r">
     <div class="sp-rb">
         <h3>热门富豪榜查询</h3>
         <ul class="clearfix">
             <li><a href="/renwu/fuhao/px_CN.html" target="_blank">中国富豪榜</a></li>
             <li><a href="/renwu/fuhao/px_US.html" target="_blank">美国富豪榜</a></li>
             <li><a href="/renwu/fuhao/px_JP.html" target="_blank">日本富豪榜</a></li>
             <li><a href="/renwu/fuhao/px_KR.html" target="_blank">韩国富豪榜</a></li>
             <li><a href="/renwu/fuhao/px_GB.html" target="_blank">英国富豪榜</a></li>
             <li><a href="/renwu/fuhao/px_FR.html" target="_blank">法国富豪榜</a></li>
         </ul>
      </div>
      <script type="text/javascript">neirong_ad09();</script>
      <div class="sp-rb mar1">
         <h3>按洲查询</h3>
         <ul class="clearfix">
             <li><a href="/renwu/fuhao/zhou_EU.html" target="_blank">欧洲富豪榜</a></li>
             <li><a href="/renwu/fuhao/zhou_AS.html" target="_blank">亚洲富豪榜</a></li>
             <li><a href="/renwu/fuhao/zhou_OA.html" target="_blank">大洋洲富豪榜</a></li>
             <li><a href="/renwu/fuhao/zhou_AF.html" target="_blank">非洲富豪榜</a></li>
             <li><a href="/renwu/fuhao/zhou_NA.html" target="_blank">北美洲富豪榜</a></li>
             <li><a href="/renwu/fuhao/zhou_SA.html" target="_blank">南美洲富豪榜</a></li>
         </ul>
      </div>
      <script type="text/javascript">neirong_ad12();</script>
      <div class="sp-rn mar1">
		<h3>相关文章</h3> 
		<ul class="sp-rn-rank">
			<li><i class="tips">1.</i>
                          <a href="https://www.phb123.com/renwu/fuhao/61526.html" title="2022全球十大白手起家女富豪榜：中国女强人霸榜8位(第一超千亿)" target="_blank">2022全球十大白手起家女富豪榜：中国女强人霸榜</a></li>
<li><i class="tips">2.</i>
                          <a href="https://www.phb123.com/renwu/fuhao/61658.html" title="中国香港富豪2022年福布斯排行榜：李嘉诚排第一（连续21年）" target="_blank">中国香港富豪2022年福布斯排行榜：李嘉诚排第一</a></li>
<li><i class="tips">3.</i>
                          <a href="https://www.phb123.com/renwu/fuhao/61656.html" title="福布斯2022中国杰出商界女性榜，曹晓春首次登顶，第五财富破千亿" target="_blank">福布斯2022中国杰出商界女性榜，曹晓春首次登顶</a></li>
<li><i>4.</i>
                          <a href="https://www.phb123.com/renwu/fuhao/61655.html" title="2022福布斯中国商界潜力女性榜前十，方牧上榜，第一是毒理学博士" target="_blank">2022福布斯中国商界潜力女性榜前十，方牧上榜，</a></li>
<li><i>5.</i>
                          <a href="https://www.phb123.com/renwu/fuhao/61543.html" title="2022胡润全球白手起家U40富豪榜—全球40岁以下白手起家富豪榜" target="_blank">2022胡润全球白手起家U40富豪榜—全球40岁以下白</a></li>
<li><i>6.</i>
                          <a href="https://www.phb123.com/renwu/fuhao/61542.html" title="2022胡润全球医疗健康企业家榜—全球医药富豪榜" target="_blank">2022胡润全球医疗健康企业家榜—全球医药富豪榜</a></li>
<li><i>7.</i>
                          <a href="https://www.phb123.com/renwu/fuhao/61541.html" title="2022胡润全球零售企业家榜—2022全球零售业富豪榜" target="_blank">2022胡润全球零售企业家榜—2022全球零售业富豪榜</a></li>
<li><i>8.</i>
                          <a href="https://www.phb123.com/renwu/fuhao/61523.html" title="中国首富排名2022：钟睒睒排第一(农夫山泉有点甜)" target="_blank">中国首富排名2022：钟睒睒排第一(农夫山泉有点甜</a></li>
<li><i>9.</i>
                          <a href="https://www.phb123.com/renwu/fuhao/61514.html" title="2022年富豪榜最新排名：埃隆·马斯克排第一(星链计划)" target="_blank">2022年富豪榜最新排名：埃隆·马斯克排第一(星链</a></li>
<li><i>10.</i>
                          <a href="https://www.phb123.com/renwu/fuhao/61097.html" title="宁波十大首富，罗立国排第一，王一鸣仅排第五" target="_blank">宁波十大首富，罗立国排第一，王一鸣仅排第五</a></li>

		</ul>
    </div>
<script type="text/javascript">neirong_ad03();</script>

  </div> 
  
</div>

<div class="wrap mar2">
    <h3 class="friends-tit">友情链接</h3>
    <ul class="friends clearfix curent">
		
		<li><a href='https://www.phb123.com' target='_blank'>排行榜</a> </li>
       
    </ul>
</div>



<!--common footer begin-->
<!--links end--> 
 <div class="footer mar2">
	  <div class="wrap clearfix">
		  <div class="foot-logo"><img src="https://www.phb123.com/images/b_logo.png" width="112" height="39"/></div>
		  <div class="foot-chara">排行榜123网（www.phb123.com）努力为您呈现丰富的十大排行榜，最新的行业排行榜、人气排行榜、品牌排行榜. Copyright © 2014-2015 All Rights Reserved.<br><a href="//beian.miit.gov.cn/" target="_blank">鄂ICP备18017610号-6</a> | <a href="https://www.phb123.com/about/suggest.html" target="_blank">反馈留言</a> | <a href="https://www.12377.cn/" target="_blank">举报入口</a> | 举报邮箱:8149258@qq.com | 举报电话：13907535906 | <a href="https://www.phb123.com/zx/" target="_blank">装修公司排行榜</a> | <a href="https://www.phb123.com/zhaoshang/" target="_blank">品牌招商</a></div>
	  </div>
 </div>
<div style="display:none"><script language="javascript" src="https://www.phb123.com/js/tongji.js"></script></div>
<script>
window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
</body>
</html>