 
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>亚洲富豪排行榜-2023亚洲富豪榜-福布斯亚洲首富排行榜-排行榜123网</title>
<meta name="keywords" content="亚洲富豪排行榜, 2023亚洲富豪榜,亚洲首富" />
<meta name="description" content="排行榜123网富豪频道为您提供福布斯2023最新亚洲富豪排行榜，带您了解亚洲最有钱的人物是谁，告诉您亚洲首富有多少资产，身价多少亿。" />
<link href="https://www.phb123.com/css/common.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="https://www.phb123.com/style/special.css">
<script type="text/javascript" src="https://www.phb123.com/js/jquery.js"></script>
<script type="text/javascript" src="/js/phbgg2.js"></script>
</head>
<body>
<script type="text/javascript">
//判断是否是手机版访问,跳转到手机版
var isiPad = navigator.userAgent.match(/iPad|iPhone|Android|Linux|iPod/i) != null;
if(isiPad){	
	if(window.location.href.indexOf("sports.phb123.com") > 0 ){
		var wapurl = window.location.href.replace(/sports\.phb123\.com/ig,"web.phb123.com/ty");
	}else{
		var wapurl = window.location.href.replace(/www\.phb123\.com/ig,"web.phb123.com");
	}
	window.location.href = wapurl;
}
</script>
<div class="top">
    <div class="wrap clearfix">
        <div class="fl welcome">排行榜123网，关注行业排行榜，关注中国行业十大品牌排行！</div>
        <div class="top-meau fr">
            <ul>
                <li><a href="https://www.phb123.com/tag/" target="_blank">TAG标签</a></li>
                <li><a href="https://www.phb123.com/sitemap.html" target="_blank">网站导航</a></li>
                <li>手机访问：<a href="https://web.phb123.com/" target="_blank">web.phb123.com</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="wrap header">
    <a class="logo" href="https://www.phb123.com/" ><img src="https://www.phb123.com/images/logo.gif" width="210" height="74"/></a>
    <div class="search">
       <form id="form1" name="form1" method="post" action="http://so.phb123.com/cse/">
       <input type="text" name="p" id="bdcsMain" class="search-area" value="请输入关键词" onfocus="javascript:this.value=''" autocomplete="off">
       <input class="search-btn" type="submit" value="">
       </form>
    </div>
</div>
<div class="nav mar1">
    <div class="wrap">
       <ul>
          <li><a href="https://www.phb123.com/" class="on">首页</a></li>
	      <li><a href="https://www.phb123.com/shenghuo/" target="_blank">生活</a></li> 
	      <li><a href="https://www.phb123.com/yule/" target="_blank">娱乐</a></li>
	      <li><a href="https://www.phb123.com/lvyou/" target="_blank">旅游</a></li>
	      <li><a href="https://www.phb123.com/city/" target="_blank">城市</a></li>
	      <li><a href="https://www.phb123.com/jiaoyu/" target="_blank">教育</a></li>
	      <li><a href="https://www.phb123.com/keji/" target="_blank">科技</a></li>
	      <li><a href="https://www.phb123.com/hangye/" target="_blank">行业</a></li>
	      <li><a href="https://www.phb123.com/xinwen/" target="_blank">新闻</a></li>
	      <li><a href="https://www.phb123.com/junshi/" target="_blank">军事</a></li>
	      <li><a href="https://www.phb123.com/renwu/" target="_blank">人物</a></li> 
	      <li><a href="https://sports.phb123.com/" target="_blank">体育</a></li> 
	      <li><a href="https://www.phb123.com/youxi/" target="_blank">游戏</a></li> 
	      <li><a href="https://www.phb123.com/shijiezhizui/" target="_blank">世界之最</a></li>
       </ul>
    </div>
</div>
<!--common header end-->
<div class="wrap bread">
<a href="https://www.phb123.com/">首页</a> > 
<a href="https://www.phb123.com/renwu/fuhao/shishi.html">世界富豪排行榜2023</a> > 亚洲富豪榜</div>
<div class="wrap mar1 clearfix">
 
  <div class="sp-l">
  
      <div class="lead">
           <h1>福布斯2023亚洲富豪榜</h1>
			<p>根据福布斯最新数据显示，目前亚洲首富为高塔姆·阿达尼，身价1346亿美元，为印度 首富，全球排名4。</p>
			<p>全球富豪榜数据来源于《福布斯》，财富资产仅供参考。</p>

           <div class="lead-time">更新时间：2023年03月22日</div>
          <div id="baiduShare" class="bdsharebuttonbox">
             <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
             <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
             <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
         </div>
      </div> 
      <script type="text/javascript">neirong_ad07();</script>
      <div class="mar1">
            <div class="t-bar clearfix">
               <h2 class="bt">亚洲最新富豪排行榜</h2>
            </div>
            <table class="rank-table" width="100%">
                <tbody>
                    <tr>
                        <th width="12%">世界排名</th>
                        <th width="30%">名字</th>
                        <th width="20%">财富(10亿美元)</th>
                        <th width="20%">财富来源</th>
                        <th width="18%">国家/地区</th>
                    </tr>
                    <tr>
                        <td class="xh">4</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_334.html" title="高塔姆·阿达尼" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/allimg/220406/1-2204062212130-L.jpg" alt="高塔姆·阿达尼" width="70"></span>
                               <p>高塔姆·阿达尼</p>
                           </a>
                        </td>
                        <td>1346亿美元</td>
                        <td>阿达尼集团</td>
                        <td><a href="/renwu/fuhao/px_IN.html" title="印度" target="_blank">印度</a></td>
                    </tr><tr>
                        <td class="xh">9</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_117.html" title="穆克什·安巴尼" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/68311858b73379651f01571293e71efc.jpg" alt="穆克什·安巴尼" width="70"></span>
                               <p>穆克什·安巴尼</p>
                           </a>
                        </td>
                        <td>843亿美元</td>
                        <td>印度信诚工业集团</td>
                        <td><a href="/renwu/fuhao/px_IN.html" title="印度" target="_blank">印度</a></td>
                    </tr><tr>
                        <td class="xh">14</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_2763.html" title="钟睒睒" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/allimg/200923/1-2009232353000-L.jpg" alt="钟睒睒" width="70"></span>
                               <p>钟睒睒</p>
                           </a>
                        </td>
                        <td>678亿美元</td>
                        <td>农夫山泉</td>
                        <td><a href="/renwu/fuhao/px_CN.html" title="中国" target="_blank">中国</a></td>
                    </tr><tr>
                        <td class="xh">22</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_2481.html" title="张一鸣" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/3/8821d20930f2a8cc42af36bdf94a26e6.jpg" alt="张一鸣" width="70"></span>
                               <p>张一鸣</p>
                           </a>
                        </td>
                        <td>495亿美元</td>
                        <td>今日头条创始人</td>
                        <td><a href="/renwu/fuhao/px_CN.html" title="中国" target="_blank">中国</a></td>
                    </tr><tr>
                        <td class="xh">31</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_103.html" title="李嘉诚" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/1297004b1664789d785e712877bd815c.jpg" alt="李嘉诚" width="70"></span>
                               <p>李嘉诚</p>
                           </a>
                        </td>
                        <td>322亿美元</td>
                        <td>长江和记实业有限公司</td>
                        <td><a href="/renwu/fuhao/px_CN.html" title="中国" target="_blank">中国</a></td>
                    </tr><tr>
                        <td class="xh">32</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_2412.html" title="曾毓群" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/allimg/221222/1-2212221RI90-L.jpg" alt="曾毓群" width="70"></span>
                               <p>曾毓群</p>
                           </a>
                        </td>
                        <td>320亿美元</td>
                        <td>能源行业</td>
                        <td><a href="/renwu/fuhao/px_CN.html" title="中国" target="_blank">中国</a></td>
                    </tr><tr>
                        <td class="xh">37</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_115.html" title="马化腾" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/8352f1919ca2930cae5f34dce8ef3763.jpg" alt="马化腾" width="70"></span>
                               <p>马化腾</p>
                           </a>
                        </td>
                        <td>299亿美元</td>
                        <td>腾讯</td>
                        <td><a href="/renwu/fuhao/px_CN.html" title="中国" target="_blank">中国</a></td>
                    </tr><tr>
                        <td class="xh">39</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_116.html" title="李兆基" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/7589d912f5ac2131e4e8308007efb778.jpg" alt="李兆基" width="70"></span>
                               <p>李兆基</p>
                           </a>
                        </td>
                        <td>283亿美元</td>
                        <td>恒基兆业</td>
                        <td><a href="/renwu/fuhao/px_CN.html" title="中国" target="_blank">中国</a></td>
                    </tr><tr>
                        <td class="xh">45</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_145.html" title="柳井正" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/f6ed9cee3de285e807ad49d28917f62a.jpg" alt="柳井正" width="70"></span>
                               <p>柳井正</p>
                           </a>
                        </td>
                        <td>271亿美元</td>
                        <td>优衣库</td>
                        <td><a href="/renwu/fuhao/px_JP.html" title="日本" target="_blank">日本</a></td>
                    </tr><tr>
                        <td class="xh">46</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_12.html" title="谢氏兄弟" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/8864b99325cabf455b35008796b0d981.jpg" alt="谢氏兄弟" width="70"></span>
                               <p>谢氏兄弟</p>
                           </a>
                        </td>
                        <td>323亿美元</td>
                        <td>泰国正大国际集团</td>
                        <td><a href="/renwu/fuhao/px_TH.html" title="泰国" target="_blank">泰国</a></td>
                    </tr><tr>
                        <td class="xh">52</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_136.html" title="丁磊" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/c84b305b42c44aeef66384b22a4eeb3a.jpg" alt="丁磊" width="70"></span>
                               <p>丁磊</p>
                           </a>
                        </td>
                        <td>245亿美元</td>
                        <td>网易</td>
                        <td><a href="/renwu/fuhao/px_CN.html" title="中国" target="_blank">中国</a></td>
                    </tr><tr>
                        <td class="xh">55</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_186.html" title="何享健" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/d35240329f7de0ebfa63b92686f83130.jpg" alt="何享健" width="70"></span>
                               <p>何享健</p>
                           </a>
                        </td>
                        <td>283亿美元</td>
                        <td>美的集团</td>
                        <td><a href="/renwu/fuhao/px_CN.html" title="中国" target="_blank">中国</a></td>
                    </tr><tr>
                        <td class="xh">55</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_224.html" title="黄惠忠" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/35fd125c7c2bd117ce78690efb9650a9.jpg" alt="黄惠忠" width="70"></span>
                               <p>黄惠忠</p>
                           </a>
                        </td>
                        <td>229亿美元</td>
                        <td>针记集团</td>
                        <td><a href="/renwu/fuhao/px_ID.html" title="印度尼西亚" target="_blank">印度尼西亚</a></td>
                    </tr><tr>
                        <td class="xh">56</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_107.html" title="马云" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/03f6c5dcab6330890246d7c0d23b2282.jpg" alt="马云" width="70"></span>
                               <p>马云</p>
                           </a>
                        </td>
                        <td>221亿美元</td>
                        <td>阿里巴巴集团</td>
                        <td><a href="/renwu/fuhao/px_CN.html" title="中国" target="_blank">中国</a></td>
                    </tr><tr>
                        <td class="xh">57</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_229.html" title="黄惠祥" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/b13f30fd99427a161db68ae3f0969381.jpg" alt="黄惠祥" width="70"></span>
                               <p>黄惠祥</p>
                           </a>
                        </td>
                        <td>220亿美元</td>
                        <td>针记集团</td>
                        <td><a href="/renwu/fuhao/px_ID.html" title="印度尼西亚" target="_blank">印度尼西亚</a></td>
                    </tr><tr>
                        <td class="xh">58</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_187.html" title="希夫·纳达" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/0e6cc9484fab1d92674752ff68bb7fe7.jpg" alt="希夫·纳达" width="70"></span>
                               <p>希夫·纳达</p>
                           </a>
                        </td>
                        <td>218亿美元</td>
                        <td>信息技术</td>
                        <td><a href="/renwu/fuhao/px_IN.html" title="印度" target="_blank">印度</a></td>
                    </tr><tr>
                        <td class="xh">61</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_247.html" title="赛鲁斯·普纳瓦拉" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/63afe784dd52717edc686797b1471e4f.jpg" alt="赛鲁斯·普纳瓦拉" width="70"></span>
                               <p>赛鲁斯·普纳瓦拉</p>
                           </a>
                        </td>
                        <td>213亿美元</td>
                        <td>印度血清研究所创始人</td>
                        <td><a href="/renwu/fuhao/px_IN.html" title="印度" target="_blank">印度</a></td>
                    </tr><tr>
                        <td class="xh">67</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_1149.html" title="秦英林" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/2/58ff7c5e0deb1aeb4d109428cde8a894.jpg" alt="秦英林" width="70"></span>
                               <p>秦英林</p>
                           </a>
                        </td>
                        <td>207亿美元</td>
                        <td>牧原食品</td>
                        <td><a href="/renwu/fuhao/px_CN.html" title="中国" target="_blank">中国</a></td>
                    </tr><tr>
                        <td class="xh">68</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_940.html" title="王兴" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/c00771426101a0367037df505eea4f4e.jpg" alt="王兴" width="70"></span>
                               <p>王兴</p>
                           </a>
                        </td>
                        <td>246亿美元</td>
                        <td></td>
                        <td><a href="/renwu/fuhao/px_CN.html" title="中国" target="_blank">中国</a></td>
                    </tr><tr>
                        <td class="xh">76</td>
                        <td>
                           <a href="/renwu/fuhao/shishi_view_144.html" title="王卫" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/fuhao/1/821c1e00b319e19ba3a110a7ea0ab5a6.jpg" alt="王卫" width="70"></span>
                               <p>王卫</p>
                           </a>
                        </td>
                        <td>189亿美元</td>
                        <td>顺丰速运集团</td>
                        <td><a href="/renwu/fuhao/px_CN.html" title="中国" target="_blank">中国</a></td>
                    </tr>
                </tbody>
            </table>
            <p class="tb-ms"> </p>
            <div class="page mt10">
                 <a>首页</a>
<a class="on">1</a><a href='/renwu/fuhao/zhou_AS_2.html'>2</a>
<a href='/renwu/fuhao/zhou_AS_3.html'>3</a>
<a href='/renwu/fuhao/zhou_AS_4.html'>4</a>
<a href='/renwu/fuhao/zhou_AS_5.html'>5</a>
<a href='/renwu/fuhao/zhou_AS_6.html'>6</a>
<a href='/renwu/fuhao/zhou_AS_7.html'>7</a>
<a href='/renwu/fuhao/zhou_AS_8.html'>8</a>
<a href='/renwu/fuhao/zhou_AS_9.html'>9</a>
<a href='/renwu/fuhao/zhou_AS_2.html'>下一页</a>
<a href='/renwu/fuhao/zhou_AS_15.html'>末页</a>

            </div>
            <script type="text/javascript">neirong_ad07();</script>
      </div>

      
  </div>
  
  <div class="sp-r">
     <div class="sp-rb">
         <h3>热门富豪榜查询</h3>
         <ul class="clearfix">
             <li><a href="/renwu/fuhao/px_CN.html" target="_blank">中国富豪榜</a></li>
             <li><a href="/renwu/fuhao/px_US.html" target="_blank">美国富豪榜</a></li>
             <li><a href="/renwu/fuhao/px_JP.html" target="_blank">日本富豪榜</a></li>
             <li><a href="/renwu/fuhao/px_KR.html" target="_blank">韩国富豪榜</a></li>
             <li><a href="/renwu/fuhao/px_GB.html" target="_blank">英国富豪榜</a></li>
             <li><a href="/renwu/fuhao/px_FR.html" target="_blank">法国富豪榜</a></li>
         </ul>
      </div>
      <script type="text/javascript">neirong_ad09();</script>
      <div class="sp-rb mar1">
         <h3>按洲查询</h3>
         <ul class="clearfix">
             <li><a href="/renwu/fuhao/zhou_EU.html" target="_blank">欧洲富豪榜</a></li>
             <li><a href="/renwu/fuhao/zhou_AS.html" target="_blank">亚洲富豪榜</a></li>
             <li><a href="/renwu/fuhao/zhou_OA.html" target="_blank">大洋洲富豪榜</a></li>
             <li><a href="/renwu/fuhao/zhou_AF.html" target="_blank">非洲富豪榜</a></li>
             <li><a href="/renwu/fuhao/zhou_NA.html" target="_blank">北美洲富豪榜</a></li>
             <li><a href="/renwu/fuhao/zhou_SA.html" target="_blank">南美洲富豪榜</a></li>
         </ul>
      </div>
      <script type="text/javascript">neirong_ad12();</script>
      <div class="sp-rn mar1">
		<h3>相关文章</h3> 
		<ul class="sp-rn-rank">
			<li><i class="tips">1.</i>
                          <a href="https://www.phb123.com/renwu/fuhao/61526.html" title="2022全球十大白手起家女富豪榜：中国女强人霸榜8位(第一超千亿)" target="_blank">2022全球十大白手起家女富豪榜：中国女强人霸榜</a></li>
<li><i class="tips">2.</i>
                          <a href="https://www.phb123.com/renwu/fuhao/61658.html" title="中国香港富豪2022年福布斯排行榜：李嘉诚排第一（连续21年）" target="_blank">中国香港富豪2022年福布斯排行榜：李嘉诚排第一</a></li>
<li><i class="tips">3.</i>
                          <a href="https://www.phb123.com/renwu/fuhao/61656.html" title="福布斯2022中国杰出商界女性榜，曹晓春首次登顶，第五财富破千亿" target="_blank">福布斯2022中国杰出商界女性榜，曹晓春首次登顶</a></li>
<li><i>4.</i>
                          <a href="https://www.phb123.com/renwu/fuhao/61655.html" title="2022福布斯中国商界潜力女性榜前十，方牧上榜，第一是毒理学博士" target="_blank">2022福布斯中国商界潜力女性榜前十，方牧上榜，</a></li>
<li><i>5.</i>
                          <a href="https://www.phb123.com/renwu/fuhao/61543.html" title="2022胡润全球白手起家U40富豪榜—全球40岁以下白手起家富豪榜" target="_blank">2022胡润全球白手起家U40富豪榜—全球40岁以下白</a></li>
<li><i>6.</i>
                          <a href="https://www.phb123.com/renwu/fuhao/61542.html" title="2022胡润全球医疗健康企业家榜—全球医药富豪榜" target="_blank">2022胡润全球医疗健康企业家榜—全球医药富豪榜</a></li>
<li><i>7.</i>
                          <a href="https://www.phb123.com/renwu/fuhao/61541.html" title="2022胡润全球零售企业家榜—2022全球零售业富豪榜" target="_blank">2022胡润全球零售企业家榜—2022全球零售业富豪榜</a></li>
<li><i>8.</i>
                          <a href="https://www.phb123.com/renwu/fuhao/61523.html" title="中国首富排名2022：钟睒睒排第一(农夫山泉有点甜)" target="_blank">中国首富排名2022：钟睒睒排第一(农夫山泉有点甜</a></li>
<li><i>9.</i>
                          <a href="https://www.phb123.com/renwu/fuhao/61514.html" title="2022年富豪榜最新排名：埃隆·马斯克排第一(星链计划)" target="_blank">2022年富豪榜最新排名：埃隆·马斯克排第一(星链</a></li>
<li><i>10.</i>
                          <a href="https://www.phb123.com/renwu/fuhao/61097.html" title="宁波十大首富，罗立国排第一，王一鸣仅排第五" target="_blank">宁波十大首富，罗立国排第一，王一鸣仅排第五</a></li>

		</ul>
    </div>
<script type="text/javascript">neirong_ad03();</script>
      
 
  </div> 
  
</div>

<div class="wrap mar2">
    <h3 class="friends-tit">友情链接</h3>
    <ul class="friends clearfix curent">
		
		<li><a href='https://www.phb123.com' target='_blank'>排行榜</a> </li>
       
    </ul>
</div>



<!--common footer begin-->
<!--links end--> 
 <div class="footer mar2">
	  <div class="wrap clearfix">
		  <div class="foot-logo"><img src="https://www.phb123.com/images/b_logo.png" width="112" height="39"/></div>
		  <div class="foot-chara">排行榜123网（www.phb123.com）努力为您呈现丰富的十大排行榜，最新的行业排行榜、人气排行榜、品牌排行榜. Copyright © 2014-2015 All Rights Reserved.<br><a href="//beian.miit.gov.cn/" target="_blank">鄂ICP备18017610号-6</a> | <a href="https://www.phb123.com/about/suggest.html" target="_blank">反馈留言</a> | <a href="https://www.12377.cn/" target="_blank">举报入口</a> | 举报邮箱:8149258@qq.com | 举报电话：13907535906 | <a href="https://www.phb123.com/zx/" target="_blank">装修公司排行榜</a> | <a href="https://www.phb123.com/zhaoshang/" target="_blank">品牌招商</a></div>
	  </div>
 </div>
<div style="display:none"><script language="javascript" src="https://www.phb123.com/js/tongji.js"></script></div>
<script>
window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
</body>
</html>